* {
    font-family: Arial, Helvetica, sans-serif;
}

.outside {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(38, 48, 57), rgba(0, 0, 0, 0.5), rgb(55, 57, 59)),
        url(./istockphoto-500334714-1024x1024.jpg);
    background-size: 100%;
    color: white;
}


.content,
.coverbutton {
    text-align: center;
}

.content {
    margin: 25px;
}

.bigsize {
    font-size: 30px;
}

.smallsize {
    font-size: 20px;
}

.coverbutton {
    margin: 70px;
}

.button {
    font-size: 17px;
    color: white;
    background-image: linear-gradient(rgb(228, 85, 62), rgb(216, 63, 46));
    padding: 20px;
    border-radius: 10px;
}